<template>
  <div

  @click.self='hide'
    class="fadeBlur animate__animated animate__fadeIn d-flex justify-content-center align-items-center text-black-50"
  >
    <div class="box shadow" >
      <div class="header text-left py-3 px-4 border-bottom">
        Agregar nuevo contacto
      </div>
      <div class="body px-5 pt-3">
        <div class="d-flex align-items-center">
          <span> Cargar una imagen </span>
            <input @change="handleFile"  ref="file"  type="file" accept="image/*" id="file" class="d-none">
            <div
              v-if="imageUrl == ''"
              @click='submitFile'
              class="btn btn-outline-light img-box mx-3 d-flex align-items-center justify-content-center"
            >
           
            <b-icon-arrow-up-square class="icon-arrow"></b-icon-arrow-up-square>
          </div>
           <img   @click='submitFile' class="user-img mx-3 rounded-pill" v-if="imageUrl != ''" :src="imageUrl" alt="">
        </div>
        <div class="mt-2">
          <label for="name" class="w-100">
            <span class="text-dark">
              Nombre <span class="text-danger">*</span>
            </span>
            <input
              v-model="user.name"
              class="w-100 p-2"
              id="name"
              type="text"
            />
          </label>
        </div>

        <div class="mt-2">
          <label for="name" class="w-100">
            <span class="text-dark">
              descripcion <span class="text-danger">*</span>
            </span>
            <textarea
              v-model="user.description"
              class="w-100 p-2"
              id="description"
              type="text"
            ></textarea>
          </label>
        </div>
        <div class="row mt-2">
          <button
            @click="send"
            class="btn btn-warning text-white text-center mx-auto px-5"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import ClickOutside from "vue-click-outside";
import { BIconArrowUpSquare } from "bootstrap-vue";
export default {
  name: "CreateModal",
  directives: {
    ClickOutside,
  },
  components: {
    BIconArrowUpSquare,
  },
  methods: {
    hide() {
       this.$store.dispatch("user/closeModal");
    },
    send() {
      if (this.user.name == "" || this.user.description == "") {
        this.$notify({
          group: "foo",
          title: "Error",
          text: "Debe completar todos los campos correctamente",
          type: "warn",
          duration: 3000,
        });
        return;
      }

      this.$store
        .dispatch("user/createUser", {user :this.user , image: this.image})
        .then(() => {
          this.imageUrl = ''
          this.image = ''
            this.$notify({
          group: "foo",
          title: "exito",
          text: "Nuevo usuario agregado",
          type: "success",
          duration: 3000,
        });
          this.$emit("refresh");
        })
        .catch((error) => {
          this.imageUrl = ''
          this.image = ''
          console.log("Error", error);
          this.$notify({
            group: "foo",
            title: "Error",
            text: error,
            type: "warn",
            duration: 3000,
          });
        });

      this.$store.dispatch("user/closeModal");
    },
    submitFile(){
      this.$refs.file.click()
    },
    handleFile(event){
      const file = event.target.files[0]
      const fileReader = new FileReader()
      fileReader.readAsDataURL(file)
      fileReader.addEventListener('load', () => {
        this.imageUrl = fileReader.result
        this.image = file
        console.log(this.user.image, this.image)
        
      })
    }
    
  },
  data: () => ({
    user: {
      name: "",
      description: "",
      image: "",
    },
    image: '',
    imageUrl: ''

  }),
}
</script>

<style scoped>
.fadeBlur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  z-index: 1;
}

.header {
  background: white;
  font-weight: 500;
}

.box {
  width: 450px;
  height: 360px;
}

.img-box {
  height: 60px;
  width: 60px;
  border: 1px dashed #ddd !important;
}

.icon-arrow {
  color: #4caf50;
  font-size: 25px;
}

.user-img {
  width: 72px;
  height: 72px;
}

.btn-warning {
  background: #f49115;
  border: 1px solid #f89110;
}

input,
textarea {
  outline: 0 !important;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 6px;
  resize: none;
}

.body {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
}
</style>

