<template>
  <div class="hello px-3">
    <div class="row mx-0">
      <h2 class="ml-auto mt-4 px-3">AMOBASOFTWARE</h2>
    </div>
    <div class="row mx-0 mt-5 jusityfi-content-center">
      <div class="group">
        <b-icon-search class="orange-text icon"></b-icon-search>
        <input v-model="search" type="form-input pl-4" placeholder="Buscar persona" />
      </div>

      <button @click="addUser" class="btn btn-warning text-white ml-sm-auto">
        Nuevo contacto
      </button>
    </div>
    <div class="row col-12 ml-0 px-0 pb-3 scroll mt-3">
      <span v-if="users.length === 0">No hay usuarios en la base de datos</span>
      <row-user
        class="mt-3 mr-2"
        v-for="(element, index) in resultQuery"
        :key="index"
        @refresh="getUsers"
        :item="element"
      ></row-user>
    </div>
  </div>
</template>

<script>
import { BIconSearch } from "bootstrap-vue";
import RowUser from "./RowUser.vue";
export default {
  name: "HelloWorld",
  components: {
    BIconSearch,
    RowUser,
  },
  data: () => ({
    user: {
      name: "Maria Castillo",
    },
    users: [],
    search: ''
  }),
  mounted() {
    this.getUsers();
  },
  computed: {
    resultQuery(){
      if(this.search){
      return this.users.filter((item)=>{
        return this.search.toLowerCase().split(' ').every(v => item.name.toLowerCase().includes(v))
      })
      }else{
        return this.users;
      }
    }
  },
  methods: {
    addUser() {
      this.$store.dispatch("user/openModal");
    },
    getUsers() {
      this.$store
        .dispatch("user/getUser")
        .then((response) => {
          this.users = response;
        })
        .catch((error) => {
          this.$notify({
            group: "foo",
            title: "Error",
            text: error,
            type: "warn",
            duration: 3000,
          });
        });
    }
  },
};
</script>

<style scoped>
.btn-warning {
  background: #f49115;
  border: 1px solid #f89110;
  height: 50px;
}

.group {
  position: relative;
}

.icon {
  top: 13px;
  position: absolute;
  font-size: 24px;
  left: 14px;
}

.scroll{
   max-height: calc(100vh - 200px);
    overflow: auto;
}

input {
  opacity: 1;
  width: 100%;
  height: 50px;
  outline: 0 !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f4f4f4;
  border-radius: 12px;
  text-indent: 50px;
  font-size: 24px;
}

.orange-text {
  color: #f89110;
}
</style>
