<template>
  <div class="userRow row align-items-center w-100 mx-0">
    <img v-if="item.image != ''" class="user-img rounded-pill mx-4" :src="item.image" alt="" />
    <img v-if="item.image == ''" class="user-img rounded-pill mx-4" src="../assets/nouser.png" alt="" />

    <div class="text-left user-name" v-if="!editAux">
      <span class="name"> {{ item.name }} </span><br />
      <span class="delete btn-link" @click="deleteUser" v-if="!editAux">
        Eliminar
      </span>
    </div>
    <div class="col description py-3" v-if="!editAux">
      {{ item.description }}
    </div>

    <div class="text-left user-name" v-if="editAux">
      <span class="name">
        <input type="text" class="input-beta" v-model="name" /> </span
      ><br />
      <span class="delete btn-link" @click="deleteUser" v-if="!editAux">
        Eliminar
      </span>
    </div>
    <div class="col description py-3" v-if="editAux">
      <textarea   v-model="description"   class="input-beta description-input h70" name="" id="" ></textarea>
      <br />
    </div>

    <b-button variant="outline-light mx-3 rounded-pill but">
      <b-icon-pencil
        class="icon-edit"
        v-if="!editAux"
        @click="editItem"
      ></b-icon-pencil>
      <b-icon-inbox-fill
        v-else
        class="icon-edit"
        @click="saveItem"
      ></b-icon-inbox-fill>
    </b-button>
  </div>
</template>


<script>
import { BIconPencil } from "bootstrap-vue";
import { BIconInboxFill } from "bootstrap-vue";

export default {
  name: "RowUser",
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      name: "",
      description: "",
      editAux: false,
      userAux: {
        description: "",
        name: "",
        id: "",
        image: "",
      },
    };
  },
  components: {
    BIconPencil,
    BIconInboxFill,
  },
  mounted() {},
  methods: {
    deleteUser() {
      this.$store
        .dispatch("user/removeUser", this.item.id)
        .then(() => {
          this.$emit("refresh");
            this.$notify({
          group: "foo",
          title: "exito",
          text: "Usuario eliminado correctamente",
          type: "success",
          duration: 3000,
        });
        })
        .catch((error) => {
          this.$notify({
            group: "foo",
            title: "Error",
            text: error,
            type: "warn",
            duration: 3000,
          });
        });
    },
    editItem() {
      this.description = this.item.description
      this.name = this.item.name
      this.editAux = true;
    },
    saveItem() {
      this.editAux = false;

      this.userAux.description = this.description;
      this.userAux.name = this.name;
      this.userAux.id = this.item.id;
      this.userAux.image = this.item.image

      this.$store
        .dispatch("user/updateUser", this.userAux)
        .then(() => {
          this.$emit("refresh");
        })
        .catch((error) => {
          this.$notify({
            group: "foo",
            title: "Error",
            text: error,
            type: "warn",
            duration: 3000,
          });
        });
    },
  },
  watch: {
    edit: {
      immediate: true,
      handler(value) {
        this.editAux = this.edit;

        if (this.editAux && value) {
          this.name = this.item.name;
          this.description = this.item.description;
        } else {
          this.name = "";
          this.description = "";
        }
      },
    },
  },
};
</script>

<style scoped>
.userRow {
  width: 962px;
  height: 114px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 3px #a0a0a0bf;
  border-radius: 12px;
}

.input-beta {
  background: #fcfbf5;
  border: 1px solid #d6d6d6;
}

.description-input {
  width: 100%;
  resize: none;
}

.user-img {
  width: 72px;
  height: 72px;
}

.user-name {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete {
  color: #f89110 !important;
  cursor: pointer;
}

.name {
  color: #353535;
  font-size: 20px;
}

.description {
  font-size: 12px;
  color: #383838;
  text-align: left;
}

.icon-edit {
  color: #194c89;
  font-size: 22px;
}

.h70{
  height: 70px;
}

.but {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

