<template>
  <div id="app">
    <router-view />
    <create-modal v-if="this.$store.state.user.open"></create-modal>
    <notifications position="bottom left" group="foo" />
  </div>
</template>
<script>
import CreateModal from "./components/CreateModal.vue";

export default {
  name: "Home",
  components: {
    CreateModal,
  },
  data: () => ({
    show: false,
  }),
   created() {
     this.$store.dispatch("user/closeModal")
  },
};
</script>
<style>
#app {
  color: #2c3e50;
  background: #d3d3d3;
  height: 100vh;
}
</style>
